$_widget-bg: #181825;
$widget-opacity: 1;
$color-scheme: 'dark';
$fg-color: #CDD6F4;
$bg-color: #181825;
$accent: #CBA6F7;
$accent-fg: #181825;
$border-width: 5px;
$_border-color: $accent;
$border-opacity: 1;
$padding: 7px;
$spacing: 3px;
$radii: 7px;
$wm-gaps: 7px;
$font-size: 17px;
$mono-font: "Cantarell Bold";
$bar-type: "separated";
$transition: None;
$accent-gradient: $accent;
$accent-bggradient: $accent;
$temp: #F38BA8;
$download: #A6E3A1;
$cpucolor: #F9E2AF;
$upload: #89B4FA;
$playcolor: $download;
