@mixin scrollable {
    scrollbar, scrollbar * {
        all: unset;
    }

    scrollbar.vertical {
        transition: $transition;
        background-color: transparentize($fg-color, 0.9);

        &:hover {
            background-color: transparentize($fg-color, 0.8);

            slider {
                //background-color: transparentize($accent, 0.3);
                background-color: $accent;
                min-width: .6em;
            }
        }
    }


    scrollbar.vertical slider {
        background-color: transparentize($accent, 0.5);
        border-radius: $radii;
        min-width: .4em;
        min-height: 2em;
        transition: $transition;
    }
}
