window#overview .window-content {
    @include floating-widget;
    @include spacing;
    @if $ov-bg-mode == 'solid' {
    	background: $ov-bg-color;
    } @if $ov-bg-mode == 'linear-gradient' {
    	background: linear-gradient($ov-bg-color);
    } @if $ov-bg-mode == 'repeating-linear-gradient' {
	background: repeating-linear-gradient($ov-bg-color);
    } @if $ov-bg-mode == 'radial-gradient' {
	background: radial-gradient($ov-bg-color);
    } @if $ov-bg-mode == 'repeating-radial-gradient' {
	background: repeating-radial-gradient($ov-bg-color);
    } @if $ov-bg-mode == 'image' {
	background: url($ov-bg-color);
    	background-size: $ov-bg-size;
	background-position: $ov-bg-pos;
    	background-repeat: $ov-bg-repe;
    } @if $ov-br-mode == true {
    	border-radius: $ov-br-radius;
    	border: $ov-br;
    }
    
    
    .workspace {
    	background-color: lighten($bg-color, 5);
        border-radius: if($radii == 0, 0, $radii + $padding);
        &.active > widget {
            border-color: $accent
        }

        > widget {
            @include widget;
            border-radius: if($radii == 0, 0, $radii + $padding);

            &:drop(active) {
                border-color: $accent;
            }
        }
    }

    .client {
        @include button;
        border-radius: $radii;
        margin: $padding;

        &.hidden {
            @include hidden;
            transition: 0;
        }
    }
}
