.lclock {
	font-family: $clockfont;
	font-size: $clocksize;
	color: $clockcolor;
}
.moonmain {
	font-size: 90px;
}
.wmoon {
	font-size: $moonsize;
}
.soundmain {
	@include unset;
	.soundbutt {
		all: unset;
	}
}
.bsound {
	font-size: $soundsize;
}
