window#launcher {
  all: unset;
  box.Applauncher {
      @include floating_widget;

      min-width: 400px;
      min-height: 400px;
         
      background-color: $bg-color;
      border: 2px solid $accent;
      border-radius: $radii;

      entry {
          @include button;
          padding: $padding;
          margin-bottom: $spacing;
        
          label, image {
              color: $fg-color;
          }
      } 

      scrollable {
        @include scrollable;
        viewport {
          border: none;
        }
      }

      .media {
        .coverArt {
          margin: $padding*2;
          border-radius: $radii*2;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          min-width: 250px;
          min-height: 250px;
        }
        label {
          padding-bottom: 5px;
        }
        button {
          all: unset;
          padding-top: 5px;
        }
      }

      button.AppButton {
          @include button($flat: true);
          > box { @include spacing(0.5); }
          transition: $transition;
          padding: $padding;
      } 
  }
} 
