window#applauncher .window-content {
    @include floating_widget;
    @if $applauncher-bg-mode == 'solid' {
    	background: $applauncher-bg-color;
    } @if $applauncher-bg-mode == 'linear-gradient' {
    	background: linear-gradient($applauncher-bg-color);
    } @if $applauncher-bg-mode == 'repeating-linear-gradient' {
	background: repeating-linear-gradient($applauncher-bg-color);
    } @if $applauncher-bg-mode == 'radial-gradient' {
	background: radial-gradient($applauncher-bg-color);
    } @if $applauncher-bg-mode == 'repeating-radial-gradient' {
	background: repeating-radial-gradient($applauncher-bg-color);
    } @if $applauncher-br-mode == true {
    	border-radius: $applauncher-br-radius;
    	border: $applauncher-br;
    }

    entry {
        @include button;
        padding: $padding;
        margin-bottom: $spacing;

        label, image {
            color: $fg-color;
        }
    }
    .appicla {
    	padding: $padding;
    	.labels {
		min-width: 250px;
		margin-top: $padding;
		label {
			font-size: 1.1em;
			text-shadow: $text-shadow;
			&.title {
				font-weight: bold;
			}
		}
	}
	.cover {
		border-radius: $radii;
        	min-height: 150px;
        	min-width: 150px;
        	box-shadow: 2px 2px 2px 0 $shadow;
        	margin: $padding;

           .shader {
            	background-color: transparent;
		border-radius: $radii;
            	box-shadow: inset 0 0 0 999px transparentize($bg-color, 0.8);
           }
    	}
    	button {
		all: unset;
		padding: $padding/2;
		margin: 10px;
		font-size: 20px;
		color: $playcolor;
	}
    }
    .appicon {
    	font-size: 200px;
    }
    .applabel {
    	min-width: 200px;
    }

    separator {
        min-height: 1px;
        background-color: $hover;
    }

    scrolledwindow {
        @include scrollable;
        min-width: $applauncher-width;
        min-height: $applauncher-height;
    }

    button.app-item {
        @include button($flat: true, $reactive: false);
        > box { @include spacing(0.5); }
        transition: $transition;
        padding: $padding;

        label {
            margin-left: $padding;
            transition: $transition;

            &.title {
                color: $fg-color;
            }

            &.description {
                color: transparentize($fg-color, 0.3);
            }
        }

        image {
            transition: $transition;
        }

        &:hover, &:focus {
            .title {
                color: $accent;
            }

            image {
                -gtk-icon-shadow: 2px 2px $accent;
            }
        }

        &:active {
            background-color: transparentize($accent, 0.5);
            border-radius: $radii;
            box-shadow: inset 0 0 0 $border-width $border-color;

            .title {
                color: $fg-color;
            }
        }
    }
}
