window.Bar {
    centerbox{
      border: none;
      box-shadow: none;
      color: $fg-color;
      font-weight: bold;
      @if $bar-type == "float" {
          border: 2px solid $accent;
          border-radius: $radii;
          margin: $wm-gaps;
          background-color: $bg-color;
      } @if $bar-type == "separated" {
          margin: $wm-gaps;
          > * {
              border: 2px solid $accent;
              border-radius: $radii;
              background-color: $bg-color;
          }
      } @if $bar-type == "bar" {
          border-bottom: 2px solid $accent;
          margin-bottom: $wm-gaps;
          background-color: $bg-color;
      }

      .power {
          margin-left: 5px;
      }

      button:not(.Title) {
          @include button($flat: true);
          padding-right: $padding;
          :not(.Time) {
              padding-left: $padding;
          }
      }
      .Title {
          padding-left: $padding;
      }

      label {
          padding-left: $padding;
      }

      .cpu {
          padding-left: $spacing;
          color: $cpucolor;
          font-size: $font_size/4.5;
          border-radius: max($radii - $border_width, 0);
          margin: $spacing;
          min-height: $font_size * 1.35;
          min-width: $font_size * 1.35;

      }
      .download {
          color: $download;
          font-size: $font_size/4.5;
          border-radius: max($radii - $border_width, 0);
          margin: $spacing;
          min-height: $font_size * 1.35;
          min-width: $font_size * 1.35;

      }
      .upload {
          color: $upload;
          font-size: $font_size/4.5;
          border-radius: max($radii - $border_width, 0);
          margin: $spacing;
          min-height: $font_size * 1.35;
          min-width: $font_size * 1.35;
      }

      .temp {
          padding-right: $spacing*2;
          color: $temp;
          font-size: $font_size/4.5;
          border-radius: max($radii - $border_width, 0);
          margin: $spacing;
          min-height: $font_size * 1.35;
          min-width: $font_size * 1.35;

      }

      .Battery label {
          padding-left: 0;
          margin-left: 0;
      }

      .media {
          button {
              all: unset;
              color: $playcolor;
              padding-left: $padding/2;
              icon {
                  margin-left: -$padding;
              }
          }
          label {
              padding-right: 5px;
              font-size: 1em;
              color: $fg-color;
          }
      }
    }
}
