window.Bar {
    centerbox{
      border: none;
      box-shadow: none;
      background-color: $bg-color;
      color: $fg-color;
      font-weight: bold;
      border: 2px solid $accent;
      border-radius: $radii;
      margin: $wm-gaps;
    }

    .power {
        margin-right: 15px;
        margin-left: 5px;
    }

    button {
        all: unset;
        background-color: transparent;

        &:hover label {
            background-color: transparentize($fg-color, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active label {
            background-color: transparentize($fg-color, 0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 $padding;
        margin: 1px;
        border-radius: $radii;
        border: 1pt solid transparent;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }
}
