$bar-spacing: $spacing / 2;

@mixin panel-button($flat: $bar-flat-buttons, $reactive: true) {
    @include unset;


	@include accs-button($flat, $reactive);
	>* {
		margin: $bar-spacing;
	}

    label,
    image {
        font-weight: bold;
    }

    >* {
        padding: $padding * 0.4 $padding * 0.7;
    }
}
.panel {
    @if $bar-color-mode == 'solid' {
    	background: $bar-color;
    } @if $bar-color-mode == 'linear-gradient' {
    	background: linear-gradient($bar-color);
    } @if $bar-color-mode == 'repeating-linear-gradient' {
	background: repeating-linear-gradient($bar-color);
    } @if $bar-color-mode == 'radial-gradient' {
	background: radial-gradient($bar-color);
    } @if $bar-color-mode == 'repeating-radial-gradient' {
	background: repeating-radial-gradient($bar-color);
    } @if $bar-color-mode == 'image' {
	background: url($bar-color);
    	background-size: $bar-size;
    	background-position: $bar-pos;
    	background-repeat: $bar-repe;
    } @if $bar-border-sw == true {
        border-radius: $radii;
        border: $bar-border;
    }
    .end{
    	padding: 0px $padding 0px $padding;
        border-radius: $radii;
    	@if $bar-end-border-sw == true {
        	border: $bar-border;
    	} @if $bar-end-color-mode == 'solid' {
    		background: $bar-end-color;
    	} @if $bar-end-color-mode == 'linear-gradient' {
    		background: linear-gradient($bar-end-color);
    	} @if $bar-end-color-mode == 'repeating-linear-gradient' {
		background: repeating-linear-gradient($bar-end-color);
    	} @if $bar-end-color-mode == 'radial-gradient' {
		background: radial-gradient($bar-end-color);
    	} @if $bar-end-color-mode == 'repeating-radial-gradient' {
		background: repeating-radial-gradient($bar-end-color);
    	} @if $bar-end-color-mode == 'image' {
		background: url($bar-end-color);
    		background-size: $bar-end-size;
    		background-position: $bar-end-pos;
    		background-repeat: $bar-end-repe;
    	}
    }
    .center{
    	padding: 0px $padding 0px $padding;
        border-radius: $radii;
    	@if $bar-center-border-sw == true {
        	border: $bar-border;
    	} @if $bar-center-color-mode == 'solid' {
    		background: $bar-center-color;
    	} @if $bar-center-color-mode == 'linear-gradient' {
    		background: linear-gradient($bar-center-color);
    	} @if $bar-center-color-mode == 'repeating-linear-gradient' {
		background: repeating-linear-gradient($bar-center-color);
    	} @if $bar-center-color-mode == 'radial-gradient' {
		background: radial-gradient($bar-center-color);
    	} @if $bar-center-color-mode == 'repeating-radial-gradient' {
		background: repeating-radial-gradient($bar-center-color);
    	} @if $bar-center-color-mode == 'image' {
		background: url($bar-center-color);
    		background-size: $bar-center-size;
    		background-position: $bar-center-pos;
    		background-repeat: $bar-center-repe;
    	}
    }
    .start{
    	padding: 0px $padding 0px $padding;
        border-radius: $radii;
    	@if $bar-start-border-sw == true {
        	border: $bar-border;
    	} @if $bar-start-color-mode == 'solid' {
    		background: $bar-start-color;
    	} @if $bar-start-color-mode == 'linear-gradient' {
    		background: linear-gradient($bar-start-color);
    	} @if $bar-start-color-mode == 'repeating-linear-gradient' {
		background: repeating-linear-gradient($bar-start-color);
    	} @if $bar-start-color-mode == 'radial-gradient' {
		background: radial-gradient($bar-start-color);
    	} @if $bar-start-color-mode == 'repeating-radial-gradient' {
		background: repeating-radial-gradient($bar-start-color);
    	} @if $bar-start-color-mode == 'image' {
		background: url($bar-start-color);
    		background-size: $bar-start-size;
    		background-position: $bar-start-pos;
    		background-repeat: $bar-start-repe;
    	}
    }
    .cpu {
        padding-left: $spacing/2;
        color: $cpucolor;
        font-size: $font_size/4.5;
        border-radius: max($radii - $border_width, 0);
        margin: $spacing;
        min-height: $font_size * 1.35;
        min-width: $font_size * 1.35;

    }
    .download {
        color: $download;
        font-size: $font_size/4.5;
        border-radius: max($radii - $border_width, 0);
        margin: $spacing;
        min-height: $font_size * 1.35;
        min-width: $font_size * 1.35;

    }
    .upload {
        color: $upload;
        font-size: $font_size/4.5;
        border-radius: max($radii - $border_width, 0);
        margin: $spacing;
        min-height: $font_size * 1.35;
        min-width: $font_size * 1.35;

    }

    .temp {
        padding-right: $spacing*2;
        color: $temp;
        font-size: $font_size/4.5;
        border-radius: max($radii - $border_width, 0);
        margin: $spacing;
        min-height: $font_size * 1.35;
        min-width: $font_size * 1.35;

    }

    .progress-box {
         margin: $spacing/3;
         font-size: 1.0em;
    }
    .progress-label {
    	margin-top: -2.5px;
    	margin-left: 2px;
    }

    @if not $bar-style =='normal' {
        @if $bar-position =='bottom' {
            border-top: $border;
        }

        @else {
            border-bottom: $border;
        }
    }

    @if $bar-style =='floating' {
        margin: $wm-gaps;
        padding: 0;

    }
    .panel-button {
        @include panel-button;
    }

    .tray-item,
    .color-picker {
        @include panel-button($flat: true);
    }

    separator {
        background-color: transparentize($fg-color, 0.86);
        border-radius: $radii;
        min-height: 5px;
        min-width: 5px;
    }

    .overview {
        label {
            color: transparentize($accent, 0.2);
        }
        .overviewicon {
        	font-size: 120%;
        }

        &:hover label {
            color: $accent;
        }

        &:active label,
        &.active label {
            color: $accent-fg;
        }
    }
    .decorator {
    	margin-left: 20px;
    	margin-right: 20px;
    	font-size: $dsize;
    }

    .powermenu,
    .recorder {
        image {
            color: transparentize($red, 0.3);
        }

        &:hover image {
            color: transparentize($red, 0.15);
        }

        &:active image {
            color: $red;
        }
    }

    .focused-client>box>box,
    .quicksettings>box {
        @include spacing(3);
    }

    /* stylelint-disable-next-line selector-not-notation */
    .quicksettings:not(.active):not(:active) {
        .bluetooth {
            color: $blue;
        }

        .battery {
            &.low {
                color: $red;
            }

            &.charged,
            &.charging {
                color: $green;
            }
        }
    }

    .media {
        button {
            all: unset;
            color: $playcolor;
            margin-left: 5px;
        }
        label {
           margin-top: -2px;
           margin-left: 5px;
	   font-size: 1em;
	   color: $fg-color;
         }
    }

    .notifications {
        image {
            color: $yellow;
        }
    }

    .battery-bar {

        .batteryBarInd {
            margin-right: $bar-spacing * 4;
        }

        levelbar trough {
            padding: 0px;
            min-width: $battery-bar-width;
            min-height: $battery-bar-height;

            block.filled {
                border-radius: max($radii - $border-width, 0);
                background-image: $active-gradient;
                border-radius: $radii;
            }
        }

        @mixin color($color) {

            image,
            label {
                color: $fg_color
            }

            block.filled {
                background-image: linear-gradient(to right, $color, lighten($color, 6%));
            }
        }

        .medium {
            @include color($yellow);
        }

        .low {
            @include color($red)
        }

        .charging {
            @include color($green);
        }

        &:active {
            @include color($accent-fg);
        }
    }

    .workspaces {
        >* {
            padding: 0;
        }

        .eventbox {
            transition: $transition;

        }

        button {
            all: unset;

            .indicator {
                font-size: 0;
                min-width: $font_size*0.9;
                min-height: $font_size*0.9;
                border-radius: $font_size;
                box-shadow: inset 0 0 0 $border-width $border-color;
                margin: 0 $padding/2;
                transition: $transition/2;
                background-color: transparentize($fg-color, 0.8);
            }

            &:last-child .indicator {
                margin-right: $padding;
            }

            &:first-child .indicator {
                margin-left: $padding;
            }

            &.occupied .indicator {
                background-color: transparentize($fg-color, 0.2);
            }

            &:hover .indicator {
                box-shadow: inset 0 0 0 10px transparentize($fg-color, 0.8);
            }

            &.active .indicator,
            &:active .indicator {
                background-color: $accent;
            }

            &.active .indicator {
                min-width: $font_size*2.5
            }
        }
    }
}
