window#dash {
    all:unset;
    background: transparent;
    box.Dash {
        @include floating_widget;
        border: 2px solid $accent;
        border-radius: $radii;
        min-width: 250px;
        background: $bg-color;
    }
    .calendar > box > label, .calendar > label {
      font-family: SourceCodeVF;
      &.notoday, &.today {
        margin-left: $padding/1.1;
        padding: $padding/3;
      }
      &.today {
        padding: $padding/3;
        background-color: $accent;
        color: $bg-color;
        border-radius: $radii;
      }
    }
    .calendar {
      button {
        all: unset;
        > label {
          margin-top: 5px;
          margin-bottom: -10px;
          font-size: 30px;
        }
      }
      margin-top: 10px;
      padding: $padding;
      border: 2px solid $accent;
      border-radius: $radii;
    }
}
