window#dash {
    all:unset;
    background: transparent;
    box.Dash {
        @include floating_widget;
        border: 2px solid $accent;
        border-radius: $radii;
        min-width: 250px;
        background: $bg-color;
    }
}
