.OSDM {
	background-color: $infobg-color;
	padding: $padding;
	border: $border-width*1.5 solid $accent;
	border-radius: $radii*1.5;
	min-width: 500px;
	min-height: 10px;
	.inflabel {
		padding: $padding*1.3;
	}
	label {
		font-size: 1.1em;
		color: $fg-color;
		text-shadow: $text-shadow;
		&.title {
			font-weight: bold;
		}
	}
	.player {
		min-width: 500px;
		min-height: 10px;
		padding: $padding;
	}
	.vlab {
		padding: $padding;
	}
}
