.mediaapp {
	button {
		all: unset;
		padding: $padding/2;
		margin: 10px;
		font-size: 20px;
		color: $accent;
	}
	.volumelabel {
		margin-left: -65px;
		margin-top: -175px;
		color: #ffffff;
		font-size: 1.1em;
		text-shadow: $text-shadow;
	}
	.buttonbox {
		margin-right: -30px;
	}
	background: $bg-color;
	border: $border-width*1.5 solid $accent;
	border-radius: $radii*1.5;
	min-width: 500px;
	min-height: 200px;
	.labels {
		margin-top: $padding;
		label {
			font-size: 1.1em;
			text-shadow: $text-shadow;
			&.title {
				font-weight: bold;
			}
		}
	}
	.audioslider {
        	@include spacing($rec: true);
        	@include spacing(0);
        	padding: $padding;
		color: $accent;
		padding: $padding*2;
		margin-right: 20px;
		slider {
       			box-shadow: none;
        		background-color: transparent;
        		border: $border-width solid transparent;
        		transition: $transition;
        		border-radius: $radii*1.3;
    		}
		slider:hover {
			background-color: $accent;
		}
		trough{
			margin-top: 15px;
        		transition: $transition;
        		border-radius: $radii;
        		border: $border;
        		background-color: $widget-bg;
        		highlight, progress{
            			border-radius: max($radii - $border-width, 0);
            			background: $accent;
        		}
    		}
	}	
	.cover {
		border-radius: $radii;
        	min-height: 150px;
        	min-width: 150px;
        	box-shadow: 2px 2px 2px 0 $shadow;
        	margin: $padding;

           .shader {
            	background-color: transparent;
		border-radius: $radii;
            	box-shadow: inset 0 0 0 999px transparentize($bg-color, 0.8);
           }
    	}
    	.blurred-cover, .cover {
        	background-size: cover;
        	background-position: center;
		border-radius: $radii;
    	}
}
.info {
	background-color: transparentize($bg-color, 0.3);
	padding: $padding;
	border: $border-width*1.5 solid $accent;
	border-radius: $radii*1.5;
	min-width: 500px;
	min-height: 10px;
	.inflabel {
		padding: $padding*1.3;
	}
	label {
		font-size: 1.1em;
		color: $fg-color;
		text-shadow: $text-shadow;
		&.title {
			font-weight: bold;
		}
	}
	.player {
		min-width: 500px;
		min-height: 10px;
		padding: $padding;
	}
}
