.OSD {
	.media{	
		min-height: 154px;
	}
	button {
		all: unset;
		padding: $padding/2;
		margin: 10px;
		font-size: 20px;
		color: $playcolor;
	}
	.volumelabel {
		//margin-left: -65px;
		//margin-top: -175px;
		color: $fg-color;
		font-size: 1.1em;
		text-shadow: $text-shadow;
	}
	.buttonbox {
		margin-right: -30px;
	}
	.vslidebox{
		padding: $padding;
	}
	background: transparentize($bg-color,0.35);
	border: $border_width solid $accent;
	border-radius: $radii;
	.labels {
		min-width: 250px;
		padding: $padding*1.5;
		label {
			font-size: 1.1em;
			text-shadow: $text-shadow;
			&.title {
				font-weight: bold;
			}
		}
	}
	.position-slider {
		padding: $padding;
	}
	.position-label {
		padding: $padding;
	}
	.vbox {
		min-width: 49px;
		padding: $padding*1.5;
	}
	.audioslider {
        	@include spacing($rec: true);
        	@include spacing(0);
		color: $accent;
		margin-top: -15px;
		min-height: 115px;
		slider {
       			box-shadow: none;
        		background-color: transparent;
        		border: $border-width solid transparent;
        		transition: $transition;
        		border-radius: $radii*1.3;
    		}
		slider:hover {
			background-color: $accent;
		}
		trough{
			margin-top: 15px;
        		transition: $transition;
        		border-radius: $radii;
        		border: $border;
        		background-color: $widget-bg;
        		highlight, progress{
            			border-radius: max($radii - $border-width, 0);
            			background-image: $active-bgradient;
        		}
    		}
	}
	.brightnessslider {
        	@include spacing($rec: true);
        	@include spacing(0);
		color: $accent;
		min-width: 150px;
      		slider {
       			box-shadow: none;
        		background-color: transparent;
        		border: $border-width solid transparent;
        		transition: $transition;
        		border-radius: $radii*1.3;
    		}
		slider:hover {
			background-color: $accent;
		}
		trough{
			margin-top: 15px;
        		transition: $transition;
        		border-radius: $radii;
        		border: $border;
        		background-color: $widget-bg;
        		highlight, progress{
            			border-radius: max($radii - $border-width, 0);
            			background-image: $active-bgradient;
        		}
    		}
	}
        .brighticon {
                color: $fg-color;
        }
	.vslidebox label {
                color: $fg-color;
		padding-bottom: $padding;
		padding-left: $padding;
		padding-right: $padding;
	}
	.cover {
		border-radius: $radii;
        	min-height: 150px;
        	min-width: 150px;
        	box-shadow: 2px 2px 2px 0 $shadow;
        	margin: $padding;

           .shader {
            	background-color: transparent;
		border-radius: $radii;
            	box-shadow: inset 0 0 0 999px transparentize($bg-color, 0.8);
           }
    	}
    	.blurred-cover, .cover {
        	background-size: cover;
        	background-position: center;
		border-radius: $radii;
    	}
}
