window#overview .window-content {
    @include floating-widget;
    @include spacing;
    @if $ov-bg-mode == 'solid' {
    	background-color: $ov-bg-color;
    } @if $ov-bg-mode == 'gradient' {
    	background-image: linear-gradient($ov-bg-color);
    } @if $ov-br-mode == true {
    	border-radius: $ov-br-radius;
    	border: $ov-br;
    }
    
    
    .workspace {
        &.active > widget {
            border-color: $accent
        }

        > widget {
            @include widget;
            border-radius: if($radii == 0, 0, $radii + $padding);

            &:drop(active) {
                border-color: $accent;
            }
        }
    }

    .client {
        @include button;
        border-radius: $radii;
        margin: $padding;

        &.hidden {
            @include hidden;
            transition: 0;
        }
    }
}
