window#over {
    all: unset;
    background: transparent;
    box.Over  {
        background: $bg-color;
        color: $fg-color;
        border: 2px solid $accent;
        border-radius: $radii;
    }
}
