window.qs .quick{
  @include floating_widget;
  background: $bg-color;
  color: $fg-color;
  border-radius: $radii*2;
  border: 2px solid $accent;

  .subwindow-title-line {
    min-width: 350px;
    font-weight: bold;

    button {
      @include button($flat: true);
      font-size: 16px;
    }
    .subwindow-title {
      font-size: 14px;
    }
  }

  .equal-wrapper > * {
    min-width: 175px;
  }

  .power-line * {
    margin: 4px;
  }
  .power-line {
    button {
      @include button($flat: true);
    }
    padding: 0 4px;
  }
  
  .QuickButton {
    @include button($flat: true);
  }

  .connectivity {
    button {
      @include button($flat: true);
    }
  }

  button {
    .title {
      font-weight: bold;
      font-size: 15px;
    }

    .value {
      font-size: 13px;
    }
  }

  .big-button > box {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 6px;
    margin-bottom: 6px;

    .big-icon {
      font-size: 18px;
      font-weight: bold;
      border-radius: $radii;
      min-width: 32px;
      margin-left: -8px;
    }
  }

  .slider {
    margin-left: 8px;
    margin-right: 8px;

    .big-icon, button {
      all: unset;
      font-size: 18px;
      font-weight: bold;
      border-radius: $radii;
      min-width: 32px;
      margin-left: -8px;
    }
  }

  .media {

    background-color: $media-bg;
    .title {
      font-weight: bold;
      font-size: 15px;
    }

    .coverArt {
      min-width: 120px;
      min-height: 120px;
      border-radius: 8px;
      margin: 4px;
      margin-left: 8px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    button {
      all: unset;
    }

    button > icon {
      margin: 4px;
      font-size: 18px;
    }
  }

  .bordered {
    border: 2px solid $accent;
    border-radius: $radii;
  }
}

