.lclock {
	font-family: $clock-font;
	font-size: $clock-size;
	color: $clockcolor;
	text-shadow: $clockshadow;
	min-width: $clockwidth;
	min-height: $clockheight;
}
@if $clock-background == true {
	.wclock{
		background-color: $clock-bg-color;
		padding: $padding;
		border: $border-width*1.5 solid $accent;
		border-radius: $radii*1.5;
	}
}
.moonmain {
	font-size: 90px;
}
.wmoon {
	font-size: $moonsize;
}
.wbgtop {
	font-size: $bgtopsize;
}
.soundmain {
	@include unset;
	.soundbutt {
		all: unset;
	}
}
.bsound {
	font-size: $soundsize;
}
.mediawidget {
	@if $music-box == true {
		background-color: $mb-color;
	}
	button {
		all: unset;
		padding: $padding/2;
		margin: 10px;
		font-size: 20px;
		color: $playcolor;
	}
	.volumelabel {
		color: #ffffff;
		font-size: 1.1em;
		text-shadow: $text-shadow;
	}
	.buttonbox {
		padding: $padding/2;
		//margin-right: -30px;
		@if $music-footer-box == true {
			background-color: $mfb-color;
			border: $border-width*1.5 solid $accent;
			border-radius: $radii*1.5;
		}
	}
	@if $music-border == true {
		border: $border-width*1.5 solid $accent;
		border-radius: $radii*1.5;
	}
	min-width: $musicwidgetwidth;
	min-height: $musicwidgetheight;
	.labels {
		min-width: $musicwidgetwidth/2;
		margin-top: $padding;
		label {
			font-size: 1.1em;
			text-shadow: $text-shadow;
			&.title {
				font-weight: bold;
			}
		}
	}
	.position-slider {
		padding: $padding;
	}
	.position-label {
		padding: $padding;
	}
	.vbox {
		min-width: 49px;
		padding: $padding*1.5;
	}
	.audioslider {
        	@include spacing($rec: true);
        	@include spacing(0);
		color: $accent;
		margin-top: -15px;
		min-height: $musicwidgetheight/1.3;
		slider {
       			box-shadow: none;
        		background-color: transparent;
        		border: $border-width solid transparent;
        		transition: $transition;
        		border-radius: $radii*1.3;
    		}
		slider:hover {
			background-color: $accent;
		}
		trough{
			margin-top: 15px;
        		transition: $transition;
        		border-radius: $radii;
        		border: $border;
        		background-color: $widget-bg;
        		highlight, progress{
            			border-radius: max($radii - $border-width, 0);
            			background-image: $active-bgradient;
        		}
    		}
	}	
	.cover {
		border-radius: $radii;
        	min-height: $coverheight;
        	min-width: $coverwidth;
        	box-shadow: 2px 2px 2px 0 $shadow;
        	margin: $padding;
        	.shader {
            		background-color: transparent;
			border-radius: $radii;
            		box-shadow: inset 0 0 0 0px transparentize($bg-color, 0.8);
           	}
    	}
    	.blurred-cover, .cover {
		background-size: cover;
		background-position: center;
		border-radius: $radii;
	}
	.blurred-cover {
		min-width: $musicwidgetwidth;
		min-height: $musicwidgetheight;
	}
}
